# STM32H753I_EVAL2 board configuration

# Copyright (c) 2021 Blue Clover Devices
# SPDX-License-Identifier: Apache-2.0

if BOARD_STM32H753I_EVAL2

config BOARD
	default "stm32h753i_eval2"

if NETWORKING

config NET_L2_ETHERNET
	default y

endif # NETWORKING

endif # BOARD_STM32H753I_EVAL2
