/*
 * Copyright (c) 2021 Blue Clover Devices
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/h7/stm32h753Xi.dtsi>
#include <st/h7/stm32h753zitx-pinctrl.dtsi>

/ {
	model = "STMicroelectronics STM32H753I_EVAL2 board";
	compatible = "st,stm32h753i-eval2";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,dtcm = &dtcm;
		zephyr,code-partition = &slot0_partition;
	};
};

&clk_hse {
    clock-frequency = <DT_FREQ_M(25)>;
    status = "okay";
};

&pll {
    // pll source: 25 MHz
    div-m = <5>;
    mul-n = <192>;
    // pll internal: 960 MHz

    div-p = <2>;   // 480 MHz used for SYSCLK
    div-q = <40>;  // 24 MHz used for SDMMC and SPI
    div-r = <2>;   // unused

    clocks = <&clk_hse>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(480)>;
    d1cpre = <1>;
    hpre = <2>;
    d1ppre = <2>;
    d2ppre1 = <2>;
    d2ppre2 = <2>;
    d3ppre = <2>;
};

// needed for RNG
&clk_hsi48 {
    status = "okay";
};

&rng {
    status = "okay";
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb14 &usart1_rx_pb15>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        slot0_partition: partition@00000 {
            label = "image-0";
            reg = <0x00000000 DT_SIZE_K(16*128)>;
        };
    };
};

&quadspi {
    pinctrl-0 = <&quadspi_clk_pb2 &quadspi_bk1_ncs_pg6
                 &quadspi_bk1_io0_pf8 &quadspi_bk1_io1_pf9
                 &quadspi_bk1_io2_pf7 &quadspi_bk1_io3_pf6>;
    pinctrl-names = "default";
    flash-id = <1>;
    status = "okay";

    qspi-nor-flash@0 {
        compatible = "st,stm32-qspi-nor";
        reg = <0>;
        qspi-max-frequency = <50000000>;
        size = <DT_SIZE_M(32*8)>;
        spi-bus-width = <4>;
        status = "okay";

        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            storage: partition@000000 {
                label = "storage";
                reg = <0x00000000 DT_SIZE_M(1)>;
            };
        };
    };
};

eth: &mac {
    pinctrl-0 = <&eth_crs_dv_pa7
                 &eth_ref_clk_pa1
                 &eth_rxd0_pc4
                 &eth_rxd1_pc5
                 &eth_txd0_pg13
                 &eth_txd1_pg12
                 &eth_tx_en_pg11
                 &eth_mdc_pc1
                 &eth_mdio_pa2>;
    pinctrl-names = "default";
    status = "okay";
};
